.page-header {
    text-align: center;
    margin: 50px;
}

.main-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.col-2 {
    border-style: solid ;
}

.tasks {
    border-style: solid;
}

.save {
    border-style: solid;
}

